<div class="d-flex flex-column align-items-start justify-content-around gap-3">
<h1 class="align-self-center">Time of Mythos</h1>

<div class="p-4">
<div style="font-weight: bold">
  In a world where the lines between myth and reality blur, Time of Mythos
  awaits you, a browser-based RPG adventure unlike any other.
</div>

<h3>Embark on Epic Quests</h3>

<div>
  Step into the sandals of a Greek hero, representing one of four noble
  nationalities. Prepare to engage in epic battles against mythical monsters and
  rival heroes, as you journey through lands steeped in legend and lore.
</div>

<h3>Collect Powerful Artifacts</h3>

<div>
  As you traverse the realms, you will encounter a plethora of unique and
  randomly generated items. From mighty relics of immense power to humbler
  trinkets, every piece tells a story. Embrace your inner collector as you amass
  an arsenal of weapons and gear, even if some of them may be of... questionable
  quality.
</div>

<h3>Build Your Mansion</h3>

<div>
  Establish your stronghold and watch it grow as you ascend the ranks of
  heroism. Strategically expand your fortress, fortify its defenses, and unlock
  new enhancements to solidify your position as a force to be reckoned with.
</div>

<h3>Challenge the Gods</h3>

<div>
  The divine pantheon presents you with trials and tribulations, each one an
  opportunity to further hone your skills and enhance your equipment. Embrace
  the challenges laid before you by the gods, for they offer the keys to
  unlocking your true potential.
</div>

<h3>Embrace Your Fate</h3>

<div>
  As a Greek hero, your destiny is both predetermined and eternal. Though
  tragedy may be your constant companion, your journey in Time of Mythos is a
  timeless odyssey, a defiance against the inexorable march of fate.
</div>

<div style="font-weight: bold">
  Embark on your epic adventure in Time of Mythos today and carve your name into
  the annals of history!
</div>
</div>
</div>