.btn {
    padding: 2px;
    flex-shrink: 1;
    width: max-content!important;
    min-width: unset;
}

.btn::before {
    transform: translate(0, -3%)!important;
}

.card {
    padding: 5px;
    background-color: rgba(127, 191, 255, 0.8)!important;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card:before {
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to right top, #e79b6a 20%, #fff1c0);
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
    z-index: -1;
  }
  
  .card:hover:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  
  @keyframes in {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  
  @keyframes out {
    0% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .card:nth-child(1) {
    animation: show 0s 0s ease 1 both;
  }
  
  .card:nth-child(2) {
    animation: show 0s 0s ease 1 both;
  }
  
  .card:nth-child(3) {
    animation: show 0s 0s ease 1 both;
  }
  
  .card:nth-child(4) {
    animation: show 0s 0s ease 1 both;
  }
  
  .card:nth-child(5) {
    animation: show 0s 0s ease 1 both;
  }