<div *ngIf="buildingsData && buildingsKeys; else loading">
  <div
    class="d-flex flex-column w-100"
    *ngFor="let buildingKey of buildingsKeys">
    <div class="d-flex flex-row w-100 justify-content-start gap-3 mb-2 align-items-center card">
      <div>
        <img
          [src]="buildingIcons[buildingKey]"
          alt="Building"
          style="height: 200px; width: auto; border-radius: 5px;"
        />
      </div>
      <div class="d-flex flex-column w-100 justify-content-start gap-1">
        <h3>{{ buildingsMetadata[buildingKey].displayName }}</h3>
        <div>Level: {{ heroBuildings[buildingKey] || 0 }}</div>
        <div>
          Bonuses:
          <span
            [innerHTML]="
              calculateBonuses(
                buildingsDefinition[buildingKey],
                heroBuildings[buildingKey] || 0
              )
            "
          ></span>
        </div>
        <div>
          Build time:
          {{
            calculateBuildTime(
              buildingsDefinition[buildingKey],
              heroBuildings[buildingKey] || 0
            )
          }}
        </div>
        <div>
            Upgrade Requirements:
          <span
            [innerHTML]="
              calculateRequirements(
                buildingsDefinition[buildingKey],
                (heroBuildings[buildingKey] || 0) + 1
              )
            "
          ></span>
        </div>
        <div>
          Upgrade cost:
          <span
            [innerHTML]="
              calculateCost(
                buildingsDefinition[buildingKey],
                (heroBuildings[buildingKey] || 0) + 1
              )
            "
          ></span>
        </div>
        <button type="submit" class="btn">Build next level</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
