<table class="w-100" *ngIf="heroResources">
  <thead>
    <tr>
      <th>Drachma</th>
      <th>Materials</th>
      <th>Workforce</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ heroResources["drachma"] }}</td>
      <td>{{ heroResources["materials"] }}</td>
      <td>{{ heroResources["workforce"] }}</td>
    </tr>
    <tr>
      <td>{{ resourcesGrowth["drachma"] }}/h</td>
      <td>{{ resourcesGrowth["materials"] }}/h</td>
      <td>{{ resourcesGrowth["workforce"] }}/h</td>
    </tr>
  </tbody>
</table>
