<table class="w-100" *ngIf="heroResources">
  <thead>
    <tr>
      <th>Drachma</th>
      <th>Materials</th>
      <th>Workforce</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ heroResources["drachma"] }}</td>
      <td>{{ heroResources["materials"] }}</td>
      <td>{{ heroResources["workforce"] }}</td>
    </tr>
    <tr>
      <td>{{ resourcesGrowth["drachma"] }}/h</td>
      <td>{{ resourcesGrowth["materials"] }}/h</td>
      <td>{{ resourcesGrowth["workforce"] }}/h</td>
    </tr>
  </tbody>
</table>

<!-- <table *ngIf="heroResources">
  <tr
    
  >
    <td>
      <span style="font-weight: bold">Drachma:</span>
      {{ heroResources["drachma"] }}
    </td>
    <td>
      <span style="font-weight: bold">Materials:</span>
      {{ heroResources["materials"] }}
    </td>
    <td>
      <span style="font-weight: bold">Workforce:</span>
      {{ heroResources["workforce"] }}
    </td>
  </tr>
  <tr
    
  >
    <td>
      <span style="font-weight: bold">Drachma growth:</span>
      {{ resourcesGrowth["drachma"] }}/h
    </td>
    <td>
      <span style="font-weight: bold">Materials growth:</span>
      {{ resourcesGrowth["materials"] }}/h
    </td>
    <td>
      <span style="font-weight: bold">Workforce growth:</span>
      {{ resourcesGrowth["workforce"] }}/h
    </td>
  </tr>
</table> -->
