<h4>Manage Items</h4>

<div
  class="d-flex flex-row gap-4 flex-wrap"
  style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px"
>
  <button type="button" class="btn" (click)="openManageItemsModal('weapon')">
    Create weapon
  </button>
  <button type="button" class="btn" (click)="openManageItemsModal('armor')">
    Create armor
  </button>
  <button type="button" class="btn" (click)="openManageItemsModal('jewelry')">
    Create jewelry
  </button>
  <button type="button" class="btn" (click)="openManageItemsModal('prefix')">
    Create prefix
  </button>
  <button type="button" class="btn" (click)="openManageItemsModal('suffix')">
    Create suffix
  </button>
</div>
