<div class="modal-header">
  <h4 class="modal-title text-uppercase">Create {{ mode }}es</h4>
</div>
<div class="modal-body">
  <form [formGroup]="prefixSuffixForm">
    <table class="table table-bordered table-striped table-hover transparent-table transparent-table-hover text-center align-middle w-100">
      <thead>
        <tr>
          <th>Name</th>
          <th *ngIf="mode === 'prefix'">Set</th>
          <th *ngIf="mode === 'prefix'">Set Name</th>
          <th>Requirements</th>
          <th>Bonuses</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody formArrayName="items">
        <tr
          *ngFor="let item of items.controls; let i = index"
          [formGroupName]="i"
        >
          <td><input class="form-control form-control-sm" formControlName="name" /></td>
          <td>
            <input class="form-check-input form-check-input"
              type="checkbox"
              formControlName="isPartOfSet"
              *ngIf="item.get('type')?.value === 'prefix'"
            />
          </td>
          <td>
            <input class="form-control form-control-sm"
              formControlName="setName"
              *ngIf="
                item.get('type')?.value === 'prefix' &&
                item.get('isPartOfSet')?.value
              "
            />
          </td>
          <td>
            <input class="form-control form-control-sm"
              formControlName="requirements"
              placeholder="Enter requirements as JSON"
            />
          </td>
          <td>
            <input class="form-control form-control-sm"
              formControlName="bonuses"
              placeholder="Enter bonuses as JSON"
            />
          </td>
          <td><input class="form-control form-control-sm" type="number" formControlName="value" /></td>
          <td>
            <button type="button" class="btn" (click)="removeItem(i)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn" (click)="addNewItem()">Add Row</button>
  </form>
  <div class="modal-footer">
    <button class="btn" type="submit" onclick="saveAll()">Save All</button>
    <button type="button" class="btn" (click)="cancel()">Cancel</button>
  </div>
</div>
