<div class="wrapper">
  <div class="logo">
    <img
      src="../assets/logo_banner.png"
      alt="Time of Mythos logo"
      class="main-logo"
    />
  </div>
  <div class="menu-wrapper">
    <app-top-menu class="menu"></app-top-menu>
    <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
      <app-auth-forms [isInTopBar]="true"></app-auth-forms>
    </ng-container>
    <ng-template #loggedInTemplate>
      <div class="d-flex flex-row align-items-center gap-2">
        <div>Hello, {{user?.name}} </div>
        <button type="submit" class="btn" (click)="logout()">Log out</button>
      </div>
    </ng-template>
  </div>

  <div class="inner-wrapper">
    <div class="left">
      <div class="vertical-div"><app-user-panel></app-user-panel></div>
      <div class="vertical-div"><app-side-menu></app-side-menu></div>
      <div class="vertical-div">Social media</div>
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
