<ng-container
  *ngIf="isInTopBar; then topBarTemplate; else normalTemplate"
></ng-container>

<ng-template #topBarTemplate>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="d-flex flex-row justify-content-around align-items-center"
    style="gap: 5px"
  >
    <div class="d-flex flex-column position-relative">
      <input
        class="form-control"
        type="email"
        [id]="emailId"
        formControlName="email"
        placeholder="Email address"
        [ngbTooltip]="
          formsService.getErrorMessage(loginForm.get('email'), 'email')
        "
        [placement]="'bottom'"
        [class.is-invalid]="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
      />
    </div>
    <div class="d-flex flex-column position-relative">
      <input
        class="form-control"
        type="password"
        [id]="passwordId"
        formControlName="password"
        placeholder="Password"
        [ngbTooltip]="
          formsService.getErrorMessage(loginForm.get('password'), 'password')
        "
        [placement]="'bottom'"
        [class.is-invalid]="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
      />
    </div>
    <button type="submit" class="btn" [disabled]="loginForm.invalid">
      Enter
    </button>
  </form>
</ng-template>

<ng-template #normalTemplate>
  <div class="d-flex flex-column w-100 pb-3">
    <div
      *ngIf="loginFormMode === 'register'"
      class="d-flex flex-column align-items-center gap-2"
    >
      <h4 class="text-center">Create a hero!</h4>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        class="d-flex flex-column align-items-center"
        style="gap: 5px"
      >
        <div class="d-flex flex-column">
          <label for="characterName">Character name:</label>
          <input
            class="form-control"
            type="text"
            id="characterName"
            formControlName="characterName"
            [class.is-invalid]="
              registerForm.get('characterName')?.invalid &&
              registerForm.get('characterName')?.touched
            "
          />
        </div>
        <div
          class="invalid-feedback text-center"
          *ngIf="
            registerForm.get('characterName')?.invalid &&
            registerForm.get('characterName')?.touched
          "
        >
          {{
            formsService.getErrorMessage(
              registerForm.get("characterName"),
              "characterName"
            )
          }}
        </div>
        <div class="d-flex flex-column">
          <label [for]="emailId">Email address:</label>
          <input
            class="form-control"
            type="email"
            [id]="emailId"
            formControlName="email"
            [class.is-invalid]="
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
            "
          />
        </div>
        <div
          class="invalid-feedback text-center"
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        >
          {{ formsService.getErrorMessage(registerForm.get("email"), "email") }}
        </div>
        <div class="d-flex flex-column">
          <label [for]="passwordId">Password:</label>
          <input
            class="form-control"
            type="password"
            [id]="passwordId"
            formControlName="password"
            [class.is-invalid]="
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
            "
          />
        </div>
        <div
          class="invalid-feedback text-center"
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          {{
            formsService.getErrorMessage(
              registerForm.get("password"),
              "password"
            )
          }}
        </div>
        <button type="submit" class="btn" [disabled]="registerForm.invalid">
          Start journey!
        </button>
      </form>
      <button
        type="button"
        class="switch-button"
        (click)="toggleLoginFormMode('login')"
      >
        Already registered? Login here!
      </button>
    </div>

    <div
      *ngIf="loginFormMode === 'login'"
      class="'d-flex flex-column align-items-center"
    >
      <h4 class="text-center">Enter journey!</h4>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="d-flex flex-column align-items-center gap-2"
        style="gap: 5px"
      >
        <div class="d-flex flex-column">
          <label [for]="emailId">Email address:</label>
          <input
            class="form-control"
            type="email"
            [id]="emailId"
            formControlName="email"
            [class.is-invalid]="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          />
        </div>
        <div
          class="invalid-feedback text-center"
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          {{ formsService.getErrorMessage(loginForm.get("email"), "email") }}
        </div>
        <div class="d-flex flex-column">
          <label [for]="passwordId">Password:</label>
          <input
            class="form-control"
            type="password"
            [id]="passwordId"
            formControlName="password"
            [class.is-invalid]="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          />
        </div>
        <div
          class="invalid-feedback text-center"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          {{
            formsService.getErrorMessage(loginForm.get("password"), "password")
          }}
        </div>
        <button
          type="submit"
          class="btn"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >
          Enter journey
        </button>
        <button
          type="button"
          class="switch-button"
          (click)="toggleLoginFormMode('register')"
        >
          Not registered yet? Register here!
        </button>
      </form>
    </div>
  </div>
</ng-template>
