<div class="modal-header">
  <h4 class="modal-title text-uppercase">{{ buildingName }}</h4>
</div>
<div class="modal-body">
  <form
    *ngIf="buildingForm"
    [formGroup]="buildingForm"
    (ngSubmit)="submitForm()"
  >
    <div class="d-flex flex-column gap-2 w-100">
      <div class="d-flex flex-row justify-content-between w-100">
        <div>ID:</div>
        <div class="w-50"><input type="text" formControlName="id" /></div>
      </div>
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Build Time:</div>
        <div class="w-50">
          <input type="number" formControlName="buildTime" />
        </div>
      </div>
      <div
        class="d-flex flex-row justify-content-between w-100"
        formArrayName="cost"
      >
        <div>Cost:</div>
        <div class="w-50 d-flex flex-column gap-2">
          <div
            *ngFor="let costGroup of cost.controls; let i = index"
            [formGroupName]="i"
            class="d-flex flex-row gap-2 align-items-center"
          >
            <select formControlName="resource">
              <option *ngFor="let key of resourceKeys" [value]="key">
                {{ resourcesMetadata[key].displayName || key }}
              </option>
            </select>
            <input
              type="number"
              formControlName="amount"
              placeholder="Amount"
            />
            <button
              *ngIf="cost.controls.length > 1"
              type="button"
              class="btn"
              (click)="removeCost(i)"
            >
              -
            </button>
          </div>
          <button
            *ngIf="cost.controls.length < 3"
            type="button"
            class="btn mt-2"
            (click)="addCost()"
          >
            +
          </button>
        </div>
      </div>

      <div
        class="d-flex flex-row justify-content-between w-100"
        formArrayName="requirements"
      >
        <div>Requirements:</div>
        <div class="w-50 d-flex flex-column gap-2">
          <div
            *ngFor="let reqGroup of requirements.controls; let i = index"
            [formGroupName]="i"
            class="d-flex flex-row gap-2 align-items-center"
          >
            <select
              formControlName="type"
              (change)="onRequirementTypeChange(i)"
            >
              <option value="building">Building</option>
              <option value="heroStat">Hero Stat</option>
              <option value="heroLevel">Hero Level</option>
            </select>
            <div
              *ngIf="reqGroup.get('buildingId')"
              class="d-flex flex-row gap-2"
            >
              <input
                type="text"
                formControlName="buildingId"
                placeholder="Building ID"
              />
              <input
                type="number"
                formControlName="level"
                placeholder="Level"
              />
            </div>
            <div *ngIf="reqGroup.get('stat')" class="d-flex flex-row gap-2">
              <select formControlName="stat">
                <option *ngFor="let key of attributesKeys" [value]="key">
                  {{ attributesMetadata[key].displayName || key }}
                </option>
              </select>
              <input
                type="number"
                formControlName="value"
                placeholder="Value"
              />
            </div>
            <div
              *ngIf="
                reqGroup.get('value') &&
                !reqGroup.get('stat') &&
                !reqGroup.get('buildingId')
              "
            >
              <input
                type="number"
                formControlName="value"
                placeholder="Minimum Hero Level"
              />
            </div>
            <button
              *ngIf="requirements.controls.length > 1"
              type="button"
              class="btn"
              (click)="removeRequirement(i)"
            >
              -
            </button>
          </div>
          <button type="button" class="btn mt-2" (click)="addRequirement()">
            +
          </button>
        </div>
      </div>

      <div
        class="d-flex flex-row justify-content-between w-100"
        formArrayName="bonuses"
      >
        <div>Bonuses:</div>
        <div class="w-50 d-flex flex-column gap-2">
          <div
            *ngFor="let bonusGroup of bonuses.controls; let i = index"
            [formGroupName]="i"
            class="d-flex flex-row gap-2 align-items-center"
          >
            <select formControlName="type">
              <option *ngFor="let key of bonusesKeys" [value]="key">
                {{ bonusesMetadata[key].displayName || key }}
              </option>
            </select>
            <input type="number" formControlName="value" placeholder="Value" />
            <button
              *ngIf="bonuses.controls.length > 1"
              type="button"
              class="btn"
              (click)="removeBonus(i)"
            >
              -
            </button>
          </div>
          <button type="button" class="btn mt-2" (click)="addBonus()">+</button>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Cost Formula:</div>
        <div class="w-50 d-flex flex-column">
          <div class="d-flex flex-row">
            <input type="text" formControlName="costFormula" class="w-75" />
            <button type="button" class="btn w-25" (click)="toggleTestForm('cost')">Test formula</button>
          </div>
          <div *ngIf="showTestForm.cost">
            <form [formGroup]="testForm">
              <div class="d-flex flex-row justify-content-between w-100">
                <div>Current level:</div>
                <input type="number" formControlName="costCurrentLevel" class="w-50" />
              </div>
              <div class="d-flex flex-row justify-content-between w-100">
                <div>Next level Cost:</div>
                <input type="text" [value]="testResult.cost" disabled class="w-50" />
              </div>
              <button type="button" class="btn" disabled>Test</button>
            </form>
          </div>
        </div>
      </div>
      
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Build Time Formula:</div>
        <div class="w-50 d-flex flex-column">
          <div class="d-flex flex-row">
            <input type="text" formControlName="buildTimeFormula" class="w-75" />
            <button type="button" class="btn w-25" (click)="toggleTestForm('buildTime')">Test formula</button>
          </div>
          <div *ngIf="showTestForm.buildTime">
            <form [formGroup]="testForm">
              <div class="d-flex flex-row justify-content-between">
                <div class="w-25">Current level:</div>
                <input type="number" formControlName="buildTimeCurrentLevel" class="w-50" />
              </div>
              <div class="d-flex flex-row justify-content-between w-100">
                <div>Next level Build Time:</div>
                <input type="text" [value]="testResult.buildTime" disabled class="w-50" />
              </div>
              <button type="button" class="btn" disabled>Test</button>
            </form>
          </div>
        </div>
      </div>
      
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Requirements Formula:</div>
        <div class="w-50 d-flex flex-column">
          <div class="d-flex flex-row">
            <input type="text" formControlName="requirementFormula" class="w-75" />
            <button type="button" class="btn w-25" (click)="toggleTestForm('requirement')">Test formula</button>
          </div>
          <div *ngIf="showTestForm.requirement">
            <form [formGroup]="testForm">
              <div class="d-flex flex-row justify-content-between w-100">
                <div>Current level:</div>
                <input type="number" formControlName="requirementCurrentLevel" class="w-50" />
              </div>
              <div class="d-flex flex-row justify-content-between w-100">
                <div>Next level Requirements:</div>
                <input type="text" [value]="testResult.requirement" disabled class="w-50" />
              </div>
              <button type="button" class="btn" disabled>Test</button>
            </form>
          </div>
        </div>
      </div>
      
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Bonus Formula:</div>
        <div class="w-50 d-flex flex-column">
          <div class="d-flex flex-row">
            <input type="text" formControlName="bonusFormula" class="w-75" />
            <button type="button" class="btn w-25" (click)="toggleTestForm('bonus')">Test formula</button>
          </div>
          <div *ngIf="showTestForm.bonus">
            <form [formGroup]="testForm">
              <div class="d-flex flex-row justify-content-between w-100">
                <div>Current level:</div>
                <input type="number" formControlName="bonusCurrentLevel" class="w-50" />
              </div>
              <div class="d-flex flex-row justify-content-between w-100">
                <div>Next level Bonus:</div>
                <input type="text" [value]="testResult.bonus" disabled class="w-50" />
              </div>
              <button type="button" class="btn" disabled>Test</button>
            </form>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Min. Player Hierarchy:</div>
        <div class="w-50">
          <input type="number" formControlName="minPlayerHierarchyLevel" />
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Max. Building Level:</div>
        <div class="w-50">
          <input type="number" formControlName="maxBuildingLevel" />
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Icon:</div>
        <div class="w-50"><input type="text" formControlName="icon" /></div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button
      type="submit"
      [disabled]="buildingForm && buildingForm.invalid"
      class="btn"
      (click)="proceed()"
    >
      Proceed
    </button>
    <button type="button" class="btn" (click)="cancel()">Cancel</button>
  </div>
</div>
