<div class="modal-header">
  <h4 class="modal-title text-uppercase">Create {{ itemType }}</h4>
</div>
<div class="modal-body">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" *ngIf="itemForm">
    <div class="d-flex flex-column gap-2 w-100">
      <div class="d-flex flex-row justify-content-between w-100">
        <div>Name:</div>
        <div class="w-50">
          <input class="form-control form-control-sm" type="text" formControlName="name" />
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between w-100">
        <div>ID:</div>
        <div class="w-50">
          <input
            class="form-control form-control-sm"
            type="number"
            formControlName="id"
            readonly
          />
        </div>
      </div>

      <div
        class="d-flex flex-row justify-content-between w-100"
        *ngIf="
          itemType === 'armor' ||
          itemType === 'weapon' ||
          itemType === 'jewelry'
        "
      >
        <div>Type:</div>
        <div class="w-50">
          <select formControlName="type" class="form-select form-select-sm">
            <option *ngFor="let type of itemTypes" [value]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>

      <div
        *ngIf="itemType === 'prefix' || itemType === 'suffix'"
        class="d-flex flex-row justify-content-between w-100"
      >
        <div>Can Appear On:</div>
        <div class="w-50 d-flex flex-column">
          <div
            formGroupName="canAppearOn"
            class="d-flex flex-row justify-content-between"
          >
            <div>
              <input
                class="form-check-input"
                type="checkbox"
                (change)="onCheckboxChange('Weapon', $event)"
              />
              Weapon
            </div>

            <div>
              <input
                class="form-check-input"
                type="checkbox"
                (change)="onCheckboxChange('Armor', $event)"
              />
              Armor
            </div>

            <div>
              <input
                class="form-check-input"
                type="checkbox"
                (change)="onCheckboxChange('Jewelry', $event)"
              />
              Jewelry
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div *ngIf="canAppearOnOptions.value.includes('Weapon')">
              <div>Weapon Types:</div>
              <select
                [formControl]="weaponsArray"
                multiple
                class="form-select form-select"
              >
                <option *ngFor="let type of weaponsTypes" [value]="type">
                  {{ type }}
                </option>
              </select>
            </div>
            <div *ngIf="canAppearOnOptions.value.includes('Armor')">
              <div>Armor Types:</div>
              <select
                [formControl]="armorArray"
                multiple
                class="form-select form-select"
              >
                <option *ngFor="let type of armorTypes" [value]="type">
                  {{ type }}
                </option>
              </select>
            </div>
            <div *ngIf="canAppearOnOptions.value.includes('Jewelry')">
              <div>Jewelry Types:</div>
              <select
                [formControl]="jewelryArray"
                multiple
                class="form-select form-select"
              >
                <option *ngFor="let type of jewelryTypes" [value]="type">
                  {{ type }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div
        class="d-flex flex-row justify-content-between w-100"
        *ngIf="itemType === 'prefix' || itemType === 'suffix'"
      >
        <label for="isSetItem">Is Set Item:</label>
        <div class="w-50">
          <input
            class="form-check-input"
            id="isSetItem"
            type="checkbox"
            formControlName="isSetItem"
          />
        </div>
      </div>

      <div
        *ngIf="
          (itemForm.get('isSetItem')?.value && itemType === 'prefix') ||
          itemType === 'suffix'
        "
        class="d-flex flex-row justify-content-between w-100"
      >
        <div>Set Name:</div>
        <div class="w-50">
          <input class="form-control form-control-sm" formControlName="setName" />
        </div>
      </div>

      <div
        class="d-flex flex-row justify-content-between w-100"
        formArrayName="requirements"
      >
        <div>Requirements:</div>
        <div class="w-50 d-flex flex-column gap-2">
          <div
            *ngFor="let reqGroup of requirements.controls; let i = index"
            [formGroupName]="i"
            class="d-flex flex-row gap-2 align-items-center"
          >
            <select
              formControlName="type"
              (change)="onRequirementTypeChange(i)"
              class="form-select form-select-sm"
            >
              <option value="building">Building</option>
              <option value="heroStat">Hero Stat</option>
              <option value="heroLevel">Hero Level</option>
            </select>
            <div
              *ngIf="reqGroup.get('buildingId')"
              class="d-flex flex-row gap-2 align-items-center m-0"
            >
              <select
                formControlName="buildingId"
                class="form-select form-select-sm"
              >
              
                <option *ngFor="let key of buildingsKeys" [value]="key">
                  {{ buildingsMetadata[key].displayName || key }}
                </option>
              </select>
              <input
                class="form-control form-control-sm"
                type="number"
                formControlName="level"
                placeholder="Level"
              />
            </div>
            <div
              *ngIf="reqGroup.get('stat')"
              class="d-flex flex-row gap-2 align-items-center m-0"
            >
              <select formControlName="stat" class="form-select form-select-sm">
                <option *ngFor="let key of attributesKeys" [value]="key">
                  {{ attributesMetadata[key].displayName || key }}
                </option>
              </select>
              <input
                class="form-control form-control-sm"
                type="number"
                formControlName="value"
                placeholder="Value"
              />
            </div>
            <div
              *ngIf="
                reqGroup.get('value') &&
                !reqGroup.get('stat') &&
                !reqGroup.get('buildingId')
              "
              class="d-flex flex-row gap-2 align-items-center m-0"
            >
              <input
                class="form-control form-control-sm"
                type="number"
                formControlName="value"
                placeholder="Minimum Hero Level"
              />
            </div>
            <button type="button" class="btn" (click)="removeRequirement(i)">
              -
            </button>
          </div>
          <button type="button" class="btn mt-2" (click)="addRequirement()">
            Add requirement
          </button>
        </div>
      </div>

      <div
        *ngIf="itemType === 'weapon'"
        class="d-flex flex-row justify-content-between w-100"
      >
        <div>Minimum Damage:</div>
        <div class="w-50">
          <input
            class="form-control form-control-sm"
            type="number"
            formControlName="minDamage"
          />
        </div>
      </div>

      <div
        *ngIf="itemType === 'weapon'"
        class="d-flex flex-row justify-content-between w-100"
      >
        <div>Maximum Damage:</div>
        <div class="w-50">
          <input
            class="form-control form-control-sm"
            type="number"
            formControlName="maxDamage"
          />
        </div>
      </div>

      <div
        *ngIf="itemType === 'armor'"
        class="d-flex flex-row justify-content-between w-100"
      >
        <div>Defense:</div>
        <div class="w-50">
          <input class="form-control form-control-sm" type="number" formControlName="defense" />
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between w-100" formArrayName="bonuses">
        <div>Bonuses:</div>
        <div class="w-50 d-flex flex-column gap-2">
          <div *ngFor="let bonusGroup of bonuses.controls; let i = index" [formGroupName]="i" class="d-flex flex-row gap-2 align-items-center">
            <select formControlName="type" class="form-select form-select-sm" (change)="onBonusTypeChange(i)">
              <option *ngFor="let key of bonusesKeys" [value]="key">
                {{ bonusesMetadata[key].displayName || key }}
              </option>
            </select>
            
              <select *ngIf="bonusGroup.get('type')?.value === 'statChange'" class="form-select form-select-sm" formControlName="attribute">
                <option *ngFor="let key of attributesKeys" [value]="key">
                  {{ attributesMetadata[key].displayName || key }}
                </option>
              </select>
            
            <input class="form-control form-control-sm" type="number" formControlName="value" placeholder="Value" />
            <button type="button" class="btn" (click)="removeBonus(i)">-</button>
          </div>
          <button type="button" class="btn mt-2" (click)="addBonus()">Add bonus</button>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between w-100">
        <div>Value:</div>
        <div
          class="w-50 d-flex flex-row justify-content-start align-items-center gap-2"
        >
          <input
            class="form-control form-control-sm flex-grow-1"
            type="number"
            formControlName="value"
          />
          drachmas
        </div>
      </div>

      <div
        class="d-flex flex-row justify-content-between w-100"
        *ngIf="itemType !== 'prefix' && itemType !== 'suffix'"
      >
        <div>Icon:</div>
        <div class="d-flex flex-row justify-content-start gap-2 w-50">
          <input
            class="form-control form-control-sm"
            type="file"
            formControlName="icon"
            class="form-control form-control-sm"
            (change)="onFileSelect($event)"
            accept="image/*"
          />
          <div *ngIf="itemForm.get('icon')?.value" class="text-center">
            <img
              [src]="itemForm.get('icon')?.value"
              [alt]="'Representation of ' + itemType"
              class="img-fluid"
              style="max-width: 100px; height: auto; background: transparent"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="submit"
    [disabled]="itemForm && itemForm.invalid"
    class="btn"
    (click)="onSubmit()"
  >
    Proceed
  </button>
  <button type="button" class="btn" (click)="cancel()">Cancel</button>
</div>
