<h4>Attributes</h4>
<div class="attributes-panel" *ngIf="heroData && heroStats">
  <table class="table table-hover transparent-table transparent-table-hover">
    <thead>
      <tr>
        <td class="attribute-name text-start">Current DP (Development Points)</td>
        <td colspan="3" class="text-center attribute-value">
          {{ heroData.dpPoints }}
        </td>
      </tr>
      <tr>
        <th class="attribute-name" id="header">Attribute Name</th>
        <th class="attribute-value" id="header">Current Value</th>
        <th class="increase-cost" id="header">Upgrade Cost</th>
        <th class="actions" id="header">Change</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attribute of attributesToDisplay">
        <td class="align-middle">
          <span>{{ attributesMetadata[attribute].displayName }} </span
          ><span
            class="bi bi-question-diamond"
            style="cursor: pointer"
            [ngbTooltip]="attributesMetadata[attribute].description"
            placement="top-left"
            container="body"
            triggers="click"
          ></span>
        </td>
        <td class="attribute-value align-middle">{{ getAttributeValue(attribute) }}</td>
        <td class="increase-cost align-middle">
          {{ calculateCostForAttribute(getAttributeValue(attribute)) }}
        </td>
        <td class="actions d-flex flex-row justify-content-between">
          <button class="btn" (click)="decreaseAttribute(attribute)">-</button>
          <button class="btn" (click)="increaseAttribute(attribute)">+</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex w-100 justify-content-between">
    <button class="btn" (click)="resetChanges()">Reset changes</button>
    <button class="btn" (click)="updateAttributes()">Confirm changes</button>
  </div>
</div>
