body {
  font-size: 14px !important;
  color: #464646 !important;
  box-sizing: border-box;
  --s: 100px; /* control the size */
  --c: #f5f5f5; /* first color */

  --_g: #0000 8%, var(--c) 0 17%, #0000 0 58%;
  background: linear-gradient(135deg, #0000 20.5%, var(--c) 0 29.5%, #0000 0) 0
      calc(var(--s) / 4),
    linear-gradient(45deg, var(--_g)) calc(var(--s) / 2) 0,
    linear-gradient(135deg, var(--_g), var(--c) 0 67%, #0000 0),
    linear-gradient(
      45deg,
      var(--_g),
      var(--c) 0 67%,
      #0000 0 83%,
      var(--c) 0 92%,
      #0000 0
    ),
    #7fbfff !important; /* second color */
  background-size: var(--s) var(--s) !important;
}


.btn {
  padding: 10px!important;
  background-color: rgba(127, 191, 255, 0.8)!important;
  border: 1px solid #ccc!important;
  border-radius: 10%!important;
  min-width: 90px!important;
  display: block!important;
  text-align: center!important;
  text-decoration: none!important;
  color: #464646!important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)!important;
}

.btn:hover {
  background: linear-gradient(to right top, #E79B6A 20%, #FFF1C0);
  color: #f5f5f5;
}

.btn:disabled:hover {
  background: linear-gradient(to right top, #E79B6A 20%, #FFF1C0);
  color: #f5f5f5;
}